# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment folders
venv/
env/

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore build outputs
build/
dist/

# Ignore secrets
.env
